In [1]:
import mysql.connector

# Veritabanı bağlantısı kurma
try:
    connection = mysql.connector.connect(
        host="localhost",  # MySQL sunucusunun adresi
        user="kullanici_adi",  # MySQL kullanıcı adı
        password="parola",  # MySQL kullanıcı parolası
        database="veritabani_adi"  # Kullanılacak veritabanının adı
    )

    if connection.is_connected():
        print("Veritabanına başarıyla bağlandı.")

        # Veritabanında bir sorgu çalıştırma
        cursor = connection.cursor()
        cursor.execute("SELECT NOW() as current_time")
        result = cursor.fetchone()
        print("Mevcut zaman:", result[0])

except mysql.connector.Error as error:
    print("Hata:", error)

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("Veritabanı bağlantısı kapatıldı.")

Hata: Authentication plugin 'caching_sha2_password' is not supported

In [1]:
import mysql.connector

# MySQL bağlantı bilgilerini ayarlayın
config = {
    'host': 'localhost',     # MySQL sunucu adresi
    'user': 'kullanici_adi', # MySQL kullanıcı adı
    'password': 'parola',    # MySQL şifre
    'database': 'testdb'     # Kullanılacak veritabanı adı
}

try:
    # MySQL veritabanına bağlanın
    cnx = mysql.connector.connect(**config)

    # MySQL veritabanı üzerinde işlem yapacak bir cursor oluşturun
    cursor = cnx.cursor()

    # "students" adında bir tablo oluşturun
    create_table_query = """
    CREATE TABLE IF NOT EXISTS students (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        grade FLOAT
    )
    """
    cursor.execute(create_table_query)
    cnx.commit()
    print("Tablo oluşturuldu.")

    # Veri eklemek için bir SQL sorgusu hazırlayın
    insert_query = "INSERT INTO students (name, grade) VALUES (%s, %s)"
    student_data = [("Alice", 90.5), ("Bob", 85.0), ("Charlie", 78.5)]

    # Veriyi tabloya ekleyin
    cursor.executemany(insert_query, student_data)
    cnx.commit()
    print("Veri ekledi.")

    # Veriyi sorgulayın ve sonuçları ekrana yazdırın
    select_query = "SELECT * FROM students"
    cursor.execute(select_query)
    results = cursor.fetchall()

    print("Öğrenci Bilgileri:")
    for row in results:
        print(f"ID: {row[0]}, Ad: {row[1]}, Not: {row[2]}")

except mysql.connector.Error as err:
    print(f"Hata: {err}")

finally:
    # Bağlantıyı kapatın
    if 'cnx' in locals() and cnx.is_connected():
        cursor.close()
        cnx.close()
        print("Bağlantı kapatıldı.")

Hata: Authentication plugin 'caching_sha2_password' is not supported

In [3]:
import sqlite3 as sql

conn = sql.connect('ders.db')
print("Bağlantı gerçekleşti")

cursor = conn.cursor() # cursor sayesinde SQL komutlarını python ile oluşturabileceğiz
print("Cursor Oluşturuldu")

cursor.execute("""CREATE TABLE STUDENT(
               name text,
               lastname text
               age integer  
              )""") # tablo oluşturmaya ve kolonları oluşturmaya yarıyor

#cursor.execute("""INSERT INTO STUDENTS VALUES ('Hakan','Mustafa','20')""")

# --------------------------------------------------------------------------------------------------

datas =  [('Burak','Kuşcu',18),('Hakan','Polat',20)]

add_command = "INSERT INTO STUDENTS VALUES (?,?,?)"

cursor.executemany(add_command,datas)
print("Eklemeler Başarılı")

# ---------------------------------------------------------------------------------------------------

cursor.execute(" UPDATE STUDENTS SET lastname ='Deği' WHERE name='Hakan' AND lastname='Polat' ") # SQL komutu WHERE sayesinde name='Hakan' ve lastname='Polat'  olanları soy ismini Deği yapar SET sayesinde değiştiriliyor
print("Günceleme Başarılı")

cursor.execute(" UPDATE STUDENTS SET lastname ='Deği' WHERE rowid = 1 ") # id alarakta yapabiliriz böyle daha iyi !
print("Günceleme Başarılı")

cursor.execute(" UPDATE STUDENTS SET age+=1 WHERE age > 30 ") # yaşı 30 dan büyük olanların yaşını 1  artırıyoruz
print("Günceleme Başarılı")

cursor.execute(" DELETE from STUDENTS WHERE lastname='Kuşcu' ")
print("Silme işleme başarılı")

cursor.execute("SELECT name,lastname from STUDENT")
liste_all = cursor.fetchall() # fetchall() yöntemi sorgunun sonuçlarını bir liste şeklinde getirir

for student in liste_all:
    print(student)

cursor.execute("DROP TABLE IF EXISTS STUDENT") # IF EXISTS eğer varsa analamına gelir !
print("tablo silindi")

#  DROP, veritabanı nesnelerini silmek için kullanılırken, DELETE yalnızca tablo içindeki verileri silmek için kullanılır(yani kolonları silmez)




conn.commit
conn.close

Bağlantı gerçekleşti
Cursor Oluşturuldu

In [1]:
conn = sql.connect('ders.db')
print("Bağlantı gerçekleşti")

cursor = conn.cursor() # cursor sayesinde SQL komutlarını python ile oluşturabileceğiz

cursor.execute(" SELECT*from STUDENT WHERE NOT age >= 40 ")
liste_all = cursor.fetchall() # fetchall() yöntemi sorgunun sonuçlarını bir liste şeklinde getirir

for student in liste_all:
    print(student)
    

conn.commit
conn.close

NameError: name 'sqlite3' is not defined

In [2]:
import sqlite3 as sql
def print_all():
    conn = sql.connect('ders.db')
    cursor = conn.cursor()
    
    cursor.execute("SELECT*from STUDENT") # SELECT veri sorgulamak veya çekmek için kullanılır SELECT*from bütün verileri alır
    list_all = cursor.fetchall()
    
    for satir in list_all:
        print(satir)
    
    conn.close()
    
print_all()

In [4]:
conn = sql.connect('ders.db')
cursor = conn.cursor()

cursor.execute("SELECT*from STUDENT ORDER BY age,name DESC") # burada iki kritarli sıralama var age ve name DESC ise büyükten küçüğe sıralama sağlar DESC yazmasaydık küçüktendi
butun_liste = cursor.fetchall()

for i in butun_liste:
    print(i)

conn.close()

OperationalError: no such column: age

In [10]:
import sqlite3 as sql
conn = sql.connect('calisan.db')
cursor = conn.cursor()
cursor.execute("""CREATE TABLE CALISANLAR(
id integer PRIMARY KEY,
ad text,
soyad text,
maas integer
)""")

veriler = [('Ali','Demirci',17000),('Cafer','Yilmaz',23000),('Sedef','Kesmez',35000),('Veli','Cakmak',70000)]

add = "INSERT INTO CALISANLAR (ad,soyad,maas) VALUES(?,?,?)"
cursor.executemany(add,veriler)
print("Eklemeler Başarılı!")

cursor.execute("SELECT*FROM CALISANLAR")
listemm = cursor.fetchall
for i in listemm:
    print(i)



conn.commit()
conn.close()

TypeError: 'builtin_function_or_method' object is not iterable